@using PandaSearch.Shared

<div class="col-md-2 col-sm-6 product">
    <a href="@Product.Link" class="image" target="_blank">
        <div class="product-grid">
            <div class="product-image">
                @if (Product.imgbyte != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(Product.imgbyte)" alt="@Product.BrandAndName" width="250" height="170"  />
                }
                else
                {
                    <img class="productImg" src="favicon.png" width="250" height="170">

                }


            </div>
            <div class="product-content">
                <div class="price">@Product.PriceToString</div>
                <h5 class="brand">@(string.IsNullOrEmpty(Product.Brand.Name) ? "" : Product.Brand.Name)</h5>
                <h4 class="title">@Product.Name</h4>
            </div>
        </div>
    </a>
</div>

@code {

    [Parameter]
    public Product Product { get; set; }

}
